<section class="pb-5">
    <div class="opt my-3 d-flex align-items-center border-radius-4">
        <a class="mx-4" *ngFor="let each of ['Set Menulir', 'Baslangiclar', 'Astimaker', 'Et Donor', 'Tum Bhuskar']">
            {{each}}
        </a>
        <i class="fa fa-angle-down font-weight-bold"></i>
        <i class="fa fa-search ml-auto mr-4"><span class="ml-2">Urun Ara</span></i>
    </div>

    <div class="opt-mob d-flex justify-content-between pb-3">
        <div class="text-secondary">
            <i class="fa fa-search fa-flip-horizontal font-size-icon mr-2"></i>
            <span class="ml-2">Urun Ara</span>
        </div>
        <div class="text-red border-red py-1 font-weight-md border-radius-6">
            Filterle
        </div>
    </div>

    <div class="line-100 mob-line"></div>

    <div class="expand row mx-0">
        <section class="col-xl-7 col-lg-7 col-md-6 pr-5 col-mob-12">

            <div class="row mx-0 mt-5">
                <h4>Pideler</h4>
                <i class="fa fa-angle-down font-size-icon-lg font-weight-bold ml-auto"></i>
            </div>

            <div class="row mx-0 border-bottom mt-4 pb-4">
                <div class="col-8 px-0">
                    <p class="p-heading font-weight-600">Kusbakshi Kasarali Pide</p>
                    <p class="p-heading">Lorem Ipsum dolor Consector apdena in demand advance</p>
                </div>
                <div class="col-4 px-0 ml-auto d-flex align-items-center justify-content-end">
                    <span class="text-red font-weight-md">19.90 TL</span>
                    <i class="fa fa-plus-circle font-size-icon-lg text-red pl-3"></i>
                </div>
            </div>

            <div class="row mx-0 border-bottom mt-4 pt-1 pb-4">
                <div class="col-8 px-0">
                    <p class="p-heading font-weight-600">Kusbakshi Kasarali Pide</p>
                    <p class="p-heading">Lorem Ipsum dolor Consector apdena in demand advance apdena in demand advance
                    </p>
                </div>
                <div class="col-4 px-0 ml-auto d-flex align-items-center justify-content-end">
                    <span class="text-red font-weight-md">19.90 TL</span>
                    <i class="fa fa-plus-circle font-size-icon-lg text-red pl-3"></i>
                </div>
            </div>

            <div class="row mx-0 border-bottom mt-4 pt-1 pb-4">
                <div class="col-8 px-0">
                    <p class="p-heading font-weight-600">Kusbakshi Kasarali Pide</p>
                    <p class="p-heading">Lorem Ipsum dolor Consector apdena in demand advance apdena in demand advance
                    </p>
                </div>
                <div class="col-4 px-0 ml-auto d-flex align-items-center justify-content-end">
                    <span class="text-red font-weight-md">19.90 TL</span>
                    <i class="fa fa-plus-circle font-size-icon-lg text-red pl-3"></i>
                </div>
            </div>

            <div class="row mx-0 mb-3 mt-5 pb-3">
                <h4>Kebaplar</h4>
                <i class="fa fa-angle-down font-size-icon-lg font-weight-bold ml-auto"></i>
            </div>

            <div class="row mx-0 border-bottom pb-4">
                <div class="col-8 px-0">
                    <p class="p-heading font-weight-600">Kusbakshi Kasarali Pide</p>
                    <p class="p-heading">Lorem Ipsum dolor Consector apdena in demand advance apdena in demand advance
                    </p>
                </div>
                <div class="col-4 px-0 ml-auto d-flex align-items-center justify-content-end">
                    <span class="text-red font-weight-md">19.90 TL</span>
                    <i class="fa fa-plus-circle font-size-icon-lg text-red pl-3"></i>
                </div>
            </div>

            <div class="total-mob ml-auto bg-lightgreen d-flex justify-content-between text-white pl-1 pr-4 border-radius-4 py-1">
                <div class="d-flex align-items-center">
                    <i class="fa fa-shopping-bag py-1 px-3 font-size-icon"></i>
                </div>
                <div class="">
                    <p class="p-heading font-size-13 text-light">Toplam Tutor</p>
                    <p class="p-heading font-weight-bold">50,000 TL</p>
                </div>
            </div>

        </section>

        <section class="col-xl-5 col-lg-5 col-md-6 border ml-auto mt-3 px-4 pt-4">
            <div class="row mx-0">
                <h5>Sepetim</h5>
                <div class="ml-auto">Temizle</div>
            </div>

            <div class="d-flex mx-0 mt-4 justify-content-between border-bottom pb-4">
                <div class="split-icon row mt-1 mx-0 h-100">
                    <div
                        class="col-7 my-0 py-0 px-2 d-flex align-items-center justify-content-center bg-lightgrey border-radius-left-5">
                        <h5>5</h5>
                    </div>
                    <div class="col-5 px-0 text-white">
                        <div><i
                                class="fa fa-plus font-size-10 bg-thickgrey px-3 pt-2 pb-1 d-flex align-items-center justify-content-center border-top-radius-right-5"></i>
                        </div>
                        <div><i
                                class="fa fa-minus font-size-10 bg-thickgrey px-3 pt-1 pb-2 mt-1 d-flex align-items-center justify-content-center border-bottom-radius-right-5"></i>
                        </div>
                    </div>
                </div>

                <div>
                    <h6>Double Kaslari Kumpir</h6>
                    <div>Lorem Ipsom kyar</div>
                    <div>Temad fight towards</div>
                    <div>Temani fetch go</div>


                </div>

                <div>
                    <h6 class="text-red">29,90 TL</h6>
                    <p class="text-center "><i class="fa fa-times-circle cross-icon"></i></p>
                </div>

            </div>

            <div class="d-flex mx-0 mt-4 justify-content-between border-bottom pb-4">
                <div class="split-icon row mt-1 mx-0 h-100">
                    <div
                        class="col-7 my-0 py-0 px-2 d-flex align-items-center justify-content-center bg-lightgrey border-radius-left-5">
                        <h5>5</h5>
                    </div>
                    <div class="col-5 px-0 text-white">
                        <div><i
                                class="fa fa-plus font-size-10 bg-thickgrey px-3 pt-2 pb-1 d-flex align-items-center justify-content-center border-top-radius-right-5"></i>
                        </div>
                        <div><i
                                class="fa fa-minus font-size-10 bg-thickgrey px-3 pt-1 pb-2 mt-1 d-flex align-items-center justify-content-center border-bottom-radius-right-5"></i>
                        </div>
                    </div>
                </div>

                <div>
                    <h6>Double Kaslari Kumpir</h6>
                    <div>Lorem Ipsom kyar</div>
                    <div>Temad fight towards</div>
                    <div>Temani fetch go</div>


                </div>

                <div>
                    <h6 class="text-red">29,90 TL</h6>
                    <p class="text-center "><i class="fa fa-times-circle cross-icon"></i></p>
                </div>

            </div>

            <div class="d-flex mx-0 mt-4 justify-content-between border-bottom pb-4">
                <div class="split-icon row mt-1 mx-0 h-100">
                    <div
                        class="col-7 my-0 py-0 px-2 d-flex align-items-center justify-content-center bg-lightgrey border-radius-left-5">
                        <h5>5</h5>
                    </div>
                    <div class="col-5 px-0 text-white">
                        <div><i
                                class="fa fa-plus font-size-10 bg-thickgrey px-3 pt-2 pb-1 d-flex align-items-center justify-content-center border-top-radius-right-5"></i>
                        </div>
                        <div><i
                                class="fa fa-minus font-size-10 bg-thickgrey px-3 pt-1 pb-2 mt-1 d-flex align-items-center justify-content-center border-bottom-radius-right-5"></i>
                        </div>
                    </div>
                </div>

                <div>
                    <h6>Double Kaslari Kumpir</h6>
                    <div>Lorem Ipsom kyar</div>
                    <div>Temad fight towards</div>
                    <div>Temani fetch go</div>


                </div>

                <div>
                    <h6 class="text-red">29,90 TL</h6>
                    <p class="text-center "><i class="fa fa-times-circle cross-icon"></i></p>
                </div>

            </div>

            <div class="d-flex mx-0 mt-4 justify-content-between text-uppercase pb-4">
                <h5 class="font-weight-bold">Toplam</h5>
                <h5 class="text-red font-weight-bold">50,00 TL</h5>
            </div>

            <div class="footer-box py-3 text-white text-center bg-red">
                <h5>Siparisi Onalaya</h5>
            </div>

        </section>
    </div>
</section>