<nav class="mb-5 border-bottom">
    <div>
        <a [routerLink]="['/siparis']" [routerLinkActive]="['is-active']" skipLocationChange> Siparis Ver</a>
        <a [routerLink]="['/biliger']" [routerLinkActive]="['is-active']" skipLocationChange> Biliger </a>
        <a [routerLink]="['/yenek']" [routerLinkActive]="['is-active']" skipLocationChange> Yenek Onerileri </a>
        <a [routerLink]="['/yorumalar']" [routerLinkActive]="['is-active']" skipLocationChange> Yorumalar </a>
    </div>
</nav>

<router-outlet></router-outlet>