<div class="route">
    <i class="fa fa-home text-grey font-size-icon-lg cursor-pointer pt-3 ml-4"></i>
    <a class="ml-3 cursor-pointer">Istanbul</a>
    <span class="mx-3">/</span><a class="cursor-pointer">Levent</a>
    <span class="mx-3">/</span><a class="cursor-pointer">Levent (Merkez)</a>
    <span class="mx-3">/</span><a class="font-weight-md cursor-pointer">Kebab Muffagr</a>

</div>

<div class="row my-4 py-2 mx-0 info">
    <div class="col-lg-2 col-md-3 col-mob-4 px-0">
        <img class="border-radius-8 pr-1" src="../../assets/product.JPG">
    </div>

    <div class="col-lg-10 col-md-9 col-mob-8 pl-4 info-item">
        <div class="row">
            <div class="col-lg-5 col-md-3 col-mob-12 px-0">
                <h4>Oz Antep Pide & Lahmavun</h4>
                <p>Kebap, turk Mutfagi</p>
            </div>
            <div class="col-lg-7 col-md-9 ml-auto mt-2 px-0 text-right medias">
                <span class="bg-grey mx-2 pr-3 pl-1 py-2 border-radius-4"><i
                        class="fa fa-heart bg-love px-2"></i>Favourite Order</span>
                <span class="bg-grey mx-2 px-3 py-2 border-radius-4">Paylas</span>
                <span class="bg-facebook mx-2 px-3 py-2 border-radius-4 text-white">
                    <i class="fa fa-facebook-square font-size-icon-sm">
                        <span class="pl-2 pr-0" style="font-size: 12px;">Belgun (1.2K)</span>
                    </i>
                </span>
            </div>
        </div>
        <div class="row pt-3 mr-0 pr-0 info-box col-mob-12">
            <div class="pt-2 text-center">
                <span
                    class="rounded-circle border-warning thick-border font-22 font-weight-bold text-warning mx-2">5</span>
                <p class="pt-2 px-3">Hizzz</p>
            </div>
            <div class="pt-2 text-center">
                <span
                    class="rounded-circle border-success thick-border font-22 font-weight-bold text-success mx-2">8</span>
                <p class="pt-2 px-3">Tenum</p>
            </div>
            <div class="pt-2 text-center">
                <span
                    class="rounded-circle border-success thick-border font-22 font-weight-bold text-success mx-2">7</span>
                <p class="pt-2 px-3">sonum</p>
            </div>
            <div class="d-flex align-items-center border px-2 info-bordered border-radius-5">
                <div class="border-right pl-4 pr-5 mx-2">
                    <div class="row justify-content-center">
                        <i class="fa fa-id-card-o font-weight-bold"></i>
                        <span class="font-weight-bold mx-2">25 TL</span>
                        <i class="fa fa-angle-down font-weight-bold"></i>
                    </div>
                    <div class="row  justify-content-center">Min packet tuton </div>
                </div>
                <div class="border-right pl-4 pr-5 mx-2">
                    <div class="row  justify-content-center">
                        <i class="fa fa fa-car font-weight-bold" aria-hidden="true"></i>
                        <span class="font-weight-bold mx-2">45 DK</span>
                        <i class="fa fa-angle-down font-weight-bold" aria-hidden="true"></i>
                    </div>
                    <div class="row  justify-content-center">Siryi gerfed</div>
                </div>
                <div class="px-4 mx-2">
                    <div class="row  justify-content-center">
                        <i class="fa fa-clock-o font-weight-bold" aria-hidden="true"></i>
                        <span class="font-weight-bold mx-2">9:00 - 22:00</span>
                        <i class="fa fa-angle-down font-weight-bold" aria-hidden="true"></i>
                    </div>
                    <div class="row  justify-content-center">Serin backer</div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="line-100 mob-line"></div>
<div class="d-flex align-items-center info-bordered-mob my-2">
    <div class="col-6 pr-5">
        <div class="d-flex justify-content-start align-items-center">
            <div class="font-size-icon">
                <i class="fa fa-id-card-o font-weight-bold"></i>
            </div>
            <div class="font-size-icon ml-3">
                <span class="font-weight-bold">25 TL</span>
                <i class="fa fa-angle-down ml-2 font-weight-bold"></i>
                <p class="p-heading">Minimum packet tutonic</p>
            </div>
        </div>
    </div>
    <div class="col-6 ml-3">
        <div class="d-flex justify-content-start align-items-center">
            <div class="font-size-icon">
                <i class="fa fa-car font-weight-bold"></i>
            </div>
            <div class="font-size-icon ml-2">
                <span class="font-weight-bold">45 TL</span>
                <i class="fa fa-angle-down ml-2 font-weight-bold"></i>
                <p class="p-heading">Siryi gerfed abando</p>
            </div>
        </div>
    </div>
</div>